<div class=""  style="background-color: linear-gradient(#E6E1E1, #EBF3EB)">
  <div class="">
  <%= render "shared/navbar" %>
  </div>

  <div class="row">
    <div class="col-6 flex-fill m-2 card-border ms-3" style="width:50vh ; height: 50vh; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "https://media.istockphoto.com/id/1152086667/vector/abstract-futuristic-neon-glowing-concept-car-silhouette-automotive-template-for-your-banner.jpg?s=612x612&w=0&k=20&c=VnXrtEs02dmaD3hlC3Iln5Z9UsC-svltNIqaV1cbkIc=" %>'); background-repeat: no-repeat; background-size: cover;"
    >
    </div>

    <div class="col-6 border flex-fill m-2 border card-border" style="width: 50vh; height: 50vh; background-color: white;">
      <div class="d-flex text-align-center justify-content-center me-5">
        <h2> Welcome to Le-auto</h2>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 mflex-fill m-2 ms-3 card-border" style="width: 50vh; height: 50vh; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "https://res.cloudinary.com/dyl8jagdn/image/upload/v1685533007/le-auto/transport-and-design-concept_de6zrq.jpg" %>'); background-repeat: no-repeat; background-size: cover;">
    </div>

    <div class="col-4 flex-fill m-2 card-border" style="width: 20vh; height: 50vh; background-color: white;">
    </div>

    <div class="col-4mflex-fill m-2 card-border" style="width:50vh; background-image: url('https://bloximages.chicago2.vip.townnews.com/thesunchronicle.com/content/tncms/assets/v3/editorial/0/68/0688110d-bc10-5858-8b39-95f4d6525b0b/6435964e5530d.image.jpg?crop=1800%2C945%2C0%2C103&resize=1200%2C630&order=crop%2Cresize'); background-repeat: no-repeat; background-size: cover;">
    </div>
  </div>
  <div class="row">
    <div class="col-6 border flex-fill m-2 ms-3 card-border" style="width: 50vh; height: 50vh; background-color: white;">
      <div class="d-flex text-align-center justify-content-center card-border">
        <h1> Welcome to Le-auto</h1>
      </div>
    </div>

    <div class="col-6 flex-fill m-2 card-border" style="width:50vh ; height: 50vh; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "https://media.istockphoto.com/id/1320765059/vector/green-neon-glowing-in-the-dark-electric-car-on-high-speed-running-concept-fast-ev-silhouette.jpg?s=612x612&w=0&k=20&c=DChryHlzMF1AEx2kgw1eICSDYOMuXffsoUEv9eA4YTU=" %>'); background-repeat: no-repeat; background-size: cover;">
    </div>
  </div>
</div>
