<div class="">
  <div class="row">
    <div class="col-6" style="height: 100vh; background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%); background-repeat: no-repeat; background-size: cover;" >
    </div>

    <div class="col-6" style="height: 100vh;">

    </div>
  </div>
</div>
