.btn2 {
  font-family: 'Instrument Serif', serif;
  font-family: 'Orbitron', sans-serif;
  transition: 2s;
}

.btn2:hover {
  font-size: 20px;
}

.arrow_back {
  color: black;
  align-items: center;
    display: flex;
    text-decoration: none;
    h1 {
      font-size: 32px;
      margin: 0;
      padding-left: 6px;
    }
}
