.navbar-lewagon {
  justify-content: space-evenly;
  // color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.btnnav{
  background-color: transparent;
  transition: 2s;
}

.btnnav:hover{
  background-color: aqua;
  color: red;
}
