<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8">
      <div class="flexbox">
        <h1><%= @car.model %></h1>
        <button class="btn btn-light"><%= link_to "Edit this task", carss_edit_path %></button>
      </div>
    </div>
  </div>
</div>
